body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

.header-button {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 600;
  background: #eb7d4b; }

.load-project {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 600;
  background: #17c2a4; }

.send-project {
  margin-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: 600;
  background: #30bae7; }

.btn-portfolio {
  background: #ebc985; }

.footer-area {
  background: #344b8e;
  color: #ffffff; }
  .footer-area .social-icon {
    margin: 50px 0px;
    text-align: center; }
    .footer-area .social-icon ul {
      margin-bottom: 10px;
      list-style: none; }
      .footer-area .social-icon ul li {
        display: inline-block;
        margin-right: 50px; }
        .footer-area .social-icon ul li a {
          font-family: "Titillium Web";
          font-size: 14px;
          font-weight: 600;
          color: #ffffff;
          text-decoration: none; }
          .footer-area .social-icon ul li a:active {
            color: #643a79; }

.header--area {
  background: #87509c; }
  .header--area .navbar-default {
    padding-top: 20px;
    background: #87509c;
    border: #87509c; }
    .header--area .navbar-default .navbar-nav li > a {
      color: #ffffff;
      font-family: "Titillium Web"; }
      .header--area .navbar-default .navbar-nav li > a:hover, .header--area .navbar-default .navbar-nav li > a:focus {
        background: #f0ab8f;
        color: #ffffff; }
      .header--area .navbar-default .navbar-nav li > a:active {
        background: #643a79;
        color: #ffffff; }
  .header--area .header-content {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Titillium Web";
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-align: center; }

.cuda_nav {
  padding-top: 20px; }
  .cuda_nav .navbar-header {
    padding-bottom: 10px; }
  .cuda_nav img {
    margin-top: -20px;
    width: 100%; }
  .cuda_nav ul.nav {
    padding-top: 25px; }
    .cuda_nav ul.nav li a {
      padding-right: 30px;
      color: #ffffff;
      font-family: "Titillium Web"; }
      .cuda_nav ul.nav li a:hover {
        color: #643a79; }

.navbar-toggle {
  margin-top: 28px;
  border-color: #ffffff; }
  .navbar-toggle .icon-bar {
    background-color: #ffffff; }

.about_us {
  background: #d74680;
  padding-bottom: 20px; }
  .about_us .about_us-say .super-elem {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    color: #ffffff; }
    .about_us .about_us-say .super-elem .title-header {
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 30px; }
      .about_us .about_us-say .super-elem .title-header ::after {
        top: 70px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3px;
        width: 99px;
        margin-right: auto;
        margin-left: auto;
        background: #ff0000;
        content: ""; }
      .about_us .about_us-say .super-elem .title-header h2 {
        font-family: "Titillium Web";
        font-size: 40px;
        font-weight: 700; }
        @media screen and (max-width: 767px) {
          .about_us .about_us-say .super-elem .title-header h2 {
            font-size: 30px; } }
    .about_us .about_us-say .super-elem .title-paragraph {
      font-family: "Titillium Web";
      font-size: 18px; }
  .about_us .about-us {
    padding-top: 50px;
    padding-bottom: 70px;
    color: #ffffff; }
    .about_us .about-us .member-area {
      padding-bottom: 50px; }
    .about_us .about-us .single-member {
      padding-bottom: 20px; }
      .about_us .about-us .single-member .media-content {
        display: block;
        width: 20%; }
      .about_us .about-us .single-member h4 {
        font-family: "Titillium Web";
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700; }
      .about_us .about-us .single-member h5 {
        font-family: "Titillium Web";
        font-size: 18px;
        font-weight: 300;
        color: #f0ab8f; }

.contract-section {
  padding-bottom: 80px;
  background: #3c5499; }
  .contract-section .contract-title .super-elem {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    color: #ffffff; }
    .contract-section .contract-title .super-elem .title-header {
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 30px; }
      .contract-section .contract-title .super-elem .title-header ::after {
        top: 70px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3px;
        width: 99px;
        margin-right: auto;
        margin-left: auto;
        background: #ff0000;
        content: ""; }
      .contract-section .contract-title .super-elem .title-header h2 {
        font-family: "Titillium Web";
        font-size: 40px;
        font-weight: 700; }
    .contract-section .contract-title .super-elem .title-paragraph {
      font-family: "Titillium Web";
      font-size: 18px; }
  .contract-section .contracts {
    border: 0;
    font-family: inherit;
    font-size: 16px;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline; }
    .contract-section .contracts .contact-us {
      border: 0;
      font-family: inherit;
      font-size: 16px;
      font-style: inherit;
      font-weight: inherit;
      margin: 0;
      outline: 0;
      padding: 0;
      vertical-align: baseline; }
      .contract-section .contracts .contact-us .contact-us-section {
        border: 0;
        font-family: inherit;
        font-size: 16px;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline; }
      .contract-section .contracts .contact-us .forms {
        padding-bottom: 20px; }
  .contract-section .textbox {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    padding: 15px 0px;
    padding-left: 10px;
    font-size: 20px;
    background: #273a71;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 20px; }
  .contract-section .textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin-top: 10px;
    padding-left: 10px;
    background: #273a71;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 20px; }

.our-portfolio {
  background: #ffdd99;
  padding-bottom: 100px; }
  .our-portfolio .ports {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
  .our-portfolio .title-team .super-elem {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; }
    .our-portfolio .title-team .super-elem .title-header {
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 30px; }
      .our-portfolio .title-team .super-elem .title-header ::after {
        top: 70px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3px;
        width: 99px;
        margin-right: auto;
        margin-left: auto;
        background: #ff0000;
        content: ""; }
      .our-portfolio .title-team .super-elem .title-header h2 {
        font-family: "Titillium Web";
        font-size: 40px;
        font-weight: 700; }
    .our-portfolio .title-team .super-elem .title-paragraph {
      font-family: "Titillium Web";
      font-size: 18px; }
  .our-portfolio .portfolio_filter {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; }
    .our-portfolio .portfolio_filter button {
      font-family: "Titillium Web";
      font-size: 14px; }
  .our-portfolio .portfolio_items .single_item p {
    text-align: center; }
  .our-portfolio .ports {
    position: relative; }
    .our-portfolio .ports .portfolio-content {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px; }
      .our-portfolio .ports .portfolio-content .single-portfolio {
        position: relative; }
        .our-portfolio .ports .portfolio-content .single-portfolio img {
          width: 100%;
          padding-bottom: 10px; }
        .our-portfolio .ports .portfolio-content .single-portfolio p {
          padding-bottom: 10px;
          font-family: "Titillium Web";
          font-size: 18px; }
    .our-portfolio .ports .portfolio-link {
      padding-bottom: 20px;
      font-family: "Titillium Web";
      font-size: 18px; }
      .our-portfolio .ports .portfolio-link .grid .grid-item {
        width: 25%; }
    .our-portfolio .ports .load-button {
      padding-top: 30px;
      padding-bottom: 30px; }

.our-skill .title-team .super-elem {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative; }
  .our-skill .title-team .super-elem .title-header {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px; }
    .our-skill .title-team .super-elem .title-header ::after {
      top: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 3px;
      width: 99px;
      margin-right: auto;
      margin-left: auto;
      background: #ff0000;
      content: ""; }
    .our-skill .title-team .super-elem .title-header h2 {
      font-family: "Titillium Web";
      font-size: 40px;
      font-weight: 700; }
  .our-skill .title-team .super-elem .title-paragraph {
    font-family: "Titillium Web";
    font-size: 18px; }
.our-skill .single-skill {
  padding-top: 30px;
  padding-bottom: 30px; }
  .our-skill .single-skill .our-skill-sec {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline; }
    .our-skill .single-skill .our-skill-sec .single-skill-content {
      border: 0;
      margin: 0;
      outline: 0;
      padding: 0;
      vertical-align: baseline; }
      .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-1 {
        margin: 6px 6px 20px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2; }
        .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-1 strong {
          position: absolute;
          top: 55px;
          left: 0px;
          right: 0px;
          font-family: "Titillium Web";
          font-weight: 300;
          font-size: 40px; }
      .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-2 {
        margin: 6px 6px 20px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2; }
        .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-2 strong {
          position: absolute;
          top: 55px;
          left: 0px;
          right: 0px;
          font-family: "Titillium Web";
          font-weight: 300;
          font-size: 40px; }
      .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-3 {
        margin: 6px 6px 20px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2; }
        .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-3 strong {
          position: absolute;
          top: 55px;
          left: 0px;
          right: 0px;
          font-family: "Titillium Web";
          font-weight: 300;
          font-size: 40px; }
      .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-4 {
        margin: 6px 6px 20px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2; }
        .our-skill .single-skill .our-skill-sec .single-skill-content .single-skill-img-4 strong {
          position: absolute;
          top: 55px;
          left: 0px;
          right: 0px;
          font-family: "Titillium Web";
          font-weight: 300;
          font-size: 40px; }
      .our-skill .single-skill .our-skill-sec .single-skill-content span {
        font-family: "Titillium Web";
        font-size: 24px;
        font-weight: 700;
        display: block;
        margin-top: 12px;
        text-align: center; }

.our-team {
  padding-bottom: 50px;
  background: #e7f1f8; }
  .our-team .title-team .super-elem {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative; }
    .our-team .title-team .super-elem .title-header {
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 30px; }
      .our-team .title-team .super-elem .title-header ::after {
        top: 70px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3px;
        width: 99px;
        margin-right: auto;
        margin-left: auto;
        background: #ff0000;
        content: ""; }
      .our-team .title-team .super-elem .title-header h2 {
        position: relative;
        font-family: "Titillium Web";
        font-size: 40px;
        font-weight: 700; }
        @media screen and (max-width: 767px) {
          .our-team .title-team .super-elem .title-header h2 {
            font-size: 33px; } }
    .our-team .title-team .super-elem .title-paragraph {
      font-family: "Titillium Web";
      font-size: 18px; }
  @media screen and (max-width: 767px) {
    .our-team .single-team-content {
      padding-bottom: 30px; } }
  .our-team .single-team-content .single-team-items h5 {
    font-family: "Titillium Web";
    font-size: 16px;
    font-weight: 400;
    color: #643a79; }
  .our-team .single-team-content .single-team-items p {
    font-family: "Titillium Web";
    font-size: 16px;
    font-weight: 300; }

.service-section {
  background: #17c2a4; }
  .service-section .service-title .super-elem {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #ffffff; }
    .service-section .service-title .super-elem .title-header h2 {
      position: relative;
      font-family: "Titillium Web";
      font-size: 40px;
      font-weight: 700; }
      @media screen and (max-width: 767px) {
        .service-section .service-title .super-elem .title-header h2 {
          font-size: 28px; } }
    .service-section .service-title .super-elem .title-header ::after {
      top: 50px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 3px;
      width: 99px;
      margin-right: auto;
      margin-left: auto;
      background: #ff0000;
      content: ""; }
    .service-section .service-title .super-elem .title-paragraph {
      font-family: "Titillium Web";
      font-size: 18px; }
      @media screen and (max-width: 767px) {
        .service-section .service-title .super-elem .title-paragraph {
          padding-top: 30px; } }
  .service-section .service-content {
    padding-top: 30px;
    padding-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .service-section .service-content .single-service {
        padding-bottom: 30px; } }
    .service-section .service-content .single-service .single-service-item {
      color: #ffffff; }
      .service-section .service-content .single-service .single-service-item h3 {
        font-family: "Titillium Web";
        font-size: 24px;
        font-weight: 700; }
      .service-section .service-content .single-service .single-service-item p {
        font-family: "Titillium Web";
        font-size: 16px;
        font-weight: 300; }

/*# sourceMappingURL=main.css.map */
