// color
$purple: #87509c;
$white: #ffffff;
$deep_blue: #643a79;
$light_green: #17c2a4;
$off_white: #e7f1f8;
$nutty: #ffdd99;
$meroon: #d74680;
$blue: #3c5499;
$darkblue: #344b8e;
$skyblue: #273a71;
$golden: #f0ab8f;




// nav variables
$nav-bg-color: $purple;
$menu-item-color: $white;
$menu-item-font-family:'Titillium Web';
$menu-item-color-hover: $deep_blue;

//services variables

$service-section-bg: $light_green;

//team variables
$team-bg: $off_white;

//our portfolio variables

$portfolio-bg: $nutty;


//about us variables

$us-bg: $meroon;
$single-member-h5: $golden;

//contract variables

$contract-bg: $blue;

//footer variables

$footer-area-bg: $darkblue;
$text-area-bg: $skyblue;
